[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
pony = "*"
flask-session = "*"
redis = "*"
flask-cors = "*"
python-dotenv = "*"
flask-bcrypt = "*"
datetime = "*"

[dev-packages]
black = "*"

[requires]
python_version = "3.10"
python_full_version = "3.10.8"
